@charset "UTF-8";
body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
}
a{
  color: #1d1d1d;
  text-decoration: none;
}
.inner{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
/* Header */
header{
  background-color: #FFF;
  border-bottom: 1px solid #c8c8c8;
}
header .inner{
  height: 120px;
  position: relative;
}
header .sub-menu{
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}
header .sub-menu ul.menu{
  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li{
  position: relative;
}
header .sub-menu ul.menu li::before{
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child:before{
  display: none;
}
header .sub-menu ul.menu li a{
  font-size: 12px;
  display: block;
  padding: 11px 16px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover{
  color: #000;
}
header .main-menu{
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  justify-content: space-between;
}
header .main-menu li a{
  color: #000;
}
header .main-menu .item{
  
}
header .main-menu .item .item__name{
  padding: 0 20px 34px 20px;
  font-family: Arial, sans-serif;
}
header .main-menu .search-starter:hover,
header .main-menu .item:hover .item__name{
  border-bottom: 3px solid #000;
}
header .main-menu .item .item__contents{
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents{
  display: block;
}
header .main-menu .item .item__contents .contents__menu{
  position: relative;
  background-color: #f8f3f3;
  height: 150px;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  justify-content: space-between;
}
header .main-menu .item .item__contents .contents__menu > ul > li{
  width: 550px;
}
header .main-menu .item .item__contents .contents__menu > ul > li > h3{
  margin-top: 15px;
  padding: 3px 0 12px 0;
  font-size: 17px;
  color: #000;
  text-align: center;
}
header .main-menu .item .item__contents .contents__menu > ul > li > ul > li a{
  padding: 5px 0;
  font-size: 15px;
  color: #999;
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li .brand{
  display: flex;
}
header .main-menu .item .item__contents .contents__menu > ul > li .brand a{
  margin: 0 auto;
}
header .main-menu .item .item__contents .contents__menu > ul > li .brand::before{
  content: "";
  width: 1px;
  height: 150px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}
header .main-menu .item .item__contents .contents__menu > ul > li:first-child .brand::before {
  display: none;
}

/* Header / Search */
header .search-wrap{
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  display: none;
}
header .search {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
header .search .shadow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}
header .search .textfield{
  position: relative;
}
header .search input{
  width: 100%;
  height: 44px;
  padding: 0 40px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: #000;
  font-size: 17px;
  color: #fff;
}
header .search .search-icon{
  width: 40px;
  height: 44px;
  background-image: url("../img/header_search.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
}
header .search .search-closer{
  width: 40px;
  height: 44px;
  background-image: url("../img/header_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  opacity: .4;
  cursor: pointer;
}
header .search .search-closer:hover{
  opacity: 1;
}
header .search .autocompletes{
  width: 100%;
  padding: 26px 40px 20px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 44px;
  left: 0;
}
header .search .autocompletes h3{
  font-size: 12px;
  color: #6e6e6e;
  margin-bottom: 12px;
}
header .search .autocompletes ul li a{
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}
header .search .autocompletes ul li:hover a{
  background-color: #f5f5f5;
  color: #0071e3;
}

header.searching .search-wrap{
  display: block;
}